<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <title>About Cow Desi Milk </title>
</head>

<body>

    <div class="container">
        <!-- navbar start -->
        <nav class="navbar navbar-expand-lg  " id="container">
            <div class="container-fluid">
                <a class="navbar-brand " href="/" id="logo">
                    Cow Desi Milk
                    <!-- <span id="one">Cow</span> <span id="two">Desi</span> <span id="three">Milk</span> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <img class="navbar-toggler-icon" src="/images/toggle1.png" alt="image">
                    <!-- <span class="navbar-toggler-icon" id="navToggle"></span> -->
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="milk-product" target="_blank">Milk
                                Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="contact" target="_blank">Contact Us</a>
                        </li>


                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- navbar close  -->
    </div>
    <div class="mt-2"></div>
    <div class="container">
        <div class="mt-5"></div>
        <h1 class="text-center text-primary">About Us</h1>
        <div class="mt-5"></div>

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/images/desi_cow1.jpg" class="d-block w-100  about_crousal_img" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/desi_cow2.jpg" class="d-block w-100 about_crousal_img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/desi_cow3.jpg" class="d-block w-100 about_crousal_img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/desi_cow4.jpg" class="d-block w-100 about_crousal_img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/desi_cow5.jpg" class="d-block w-100 about_crousal_img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>



        <div class="mt-5"></div>


        <!-- cow grow your farming info  -->
        <div class="row mt-5">
            <div class="col-md-6">
                <h3 class="card-title">The Secret To Increase Desi Dairy Milk Profitability</h3>
                <p style="font-size: 1.1rem; text-align: justify;">Dairy farming will never be profitable if you are not
                    producing enough milk. On
                    average, a dairy cow produces 6-7 gallons of milk in a day. Certain breeds produce between 6,800kg
                    and 17000kg per year. The udder milk produced will vary from one breed to another and other factors
                    may also come to play.
                    <br>
                    Normally, the milk levels will peak around 40-60 days after calving. It then declines steadily until
                    when milking stops after 10 months. The dairy cow is then dried off sixty days to the expected
                    calving date. This gives the farmer a 12-14 months productive inter calving cycle of which 10 are
                    milking months.
                </p>
            </div>
            <div class="col-md-6">
                <img src="/images/cow1.png" class="card-img mb-5 card_img_4" alt="image">
            </div>
        </div>

        <div class="mt-5"></div>
        <h3 class="text-center text-primary">Milk Production</h3>
        <div class="col-md-12 mt-5">
            <p class="card-text">The volume of milk sold is quite vital in determining whether you are making a profit
                or loss. It is the volume that will determine whether you can maximize your revenues. An increase in
                production goes a long way in diluting the burden of fixed costs. It makes the farming self reliant and
                the farmer enjoys a profit.</p>
        </div>

        <div class="row mt-5">
            <h3 class="text-center text-primary">Diet Optimization</h3>

            <div class="col-md-6 mt-5">
                <img src="/images/bottle_milk.png" class="card-img mb-5 card_img_4" alt="image">
            </div>
            <div class="col-md-6 mt-5">
                <p class="card-text">The amount of milk produced per kilo of dry matter intake gives a reflection of a
                    cow’s profitability. Feeds are quite costly and the dairy cow needs to produce milk proportional to
                    feeds intake. A farmer pegs their expectation on milk production and will only be motivated to
                    improve the diet proportions if the milk produced meets requirements.</p>
            </div>
        </div>

        <div class="row mt-5">
            <h3 class="text-center text-primary">Increasing Dairy Profitability: Milk preservation</h3>

            <div class="col-md-6 mt-5">
                <p class="card-text p_card">Milk production fluctuates with different seasons. Every year, farmers
                    complain of
                    milk influx, especially between May and July. At such times, milk prices drop to rock bottom. It is
                    at such times that farmers incur huge losses. These losses end up eating into previous months
                    profits.
                    <br><br>
                    Much as you may stagger breeding times, large scale milk production will always tend to be a
                    challenge. Milk is a major ingredient in most recipes. It adds flavor and loads of nutrients. But
                    how do you preserve your milk to guarantee its presence in your recipes?

                    <br><br>
                    Well, milk preservation dates back decades ago when windmills were in use before the arrival of
                    refrigeration. The secret behind milk preservation is low temperatures as this inhibits the activity
                    of
                    bacteria that turn the milk bad.
                </p>
            </div>
            <div class="col-md-6 mt-5">
                <img src="/images/milk_preserve.png" class="card-img mb-5 card_img_4" alt="image">
            </div>
        </div>

        <div class="mt-5"></div>

        <div class="row">

            <h2 class="text-center text-primary">Keep cows healthy and productive</h2>
            <p class="card-text p_card mt-2">The Smarttag Neck measures the time and moments a cow spends eating,
                ruminating,
                being inactive and showing other active behavior. The Smarttag Leg does the same for standing, lying and
                walking behavior and also measures the amount of steps and standups.
                <br><br>
                The system compares this behavior with standards for optimum condition, the previous behavior of the cow
                and the behavior of the group she is in. It turns this information into relevant alerts, to-do lists and
                reports so you and your team can proactively manage the health of each cow and the entire herd.
            </p>
            <img src="/images/step-cow.jpg" class="card-img mb-5 card_img_4" alt="image">

            <div class="mt-5"></div>
            <div class="col-md-6">
                <h2 class="text-center ">Detect health issues before they become problems</h2>
                <p class="p_card">Nedap Health Monitoring detects health issues before their clinical signs and symptoms
                    are visible to the human eye. A change in a cow’s behavior can indicate a potential health problem.
                    <br><br>
                    Early detection of these abnormalities in combination with quick action helps minimize the emergence
                    of health issues, and thus prevents the possible need for medical treatment, a drop in milk
                    production, reduced fertility, culling or even death.
                </p>

            </div>
            <div class="col-md-6">
                <h2 class="text-center">Monitor transition cows <br> intensively</h2>
                <p class="p_card mt-2">Closely monitoring the behavior of cows around calving enables you to identify
                    which
                    cows need extra attention during this risky period, when they are more susceptible to disease
                    because of changes in the environment, feed, energy balance and stress. A change in behavior may
                    indicate specific health problems related to calving.</p>

                <br><br>
                <h2 class="text-center">Measure post-treatment recovery</h2>
                <p class="p_card">Eating, rumination and activity behavior are important indicators of recovery from
                    health issues. Cows with abnormal behavior during recovery might need additional clinical
                    examination to stay one step ahead of serious problems.</p>
            </div>
        </div>

        <div class="mt-5"></div>
        <!-- close heading of milk details and quality of product  -->
        <footer>
            <nav class="navbar navbar-light bg-light">

                <div class="container-fluid footer_navabr">
                    <span class="text-center">
                        <h3>Cow Desi Milk</h3>
                        &commat; Copyright 2022 iCoder Web Solution <br><br>
                    </span>
                </div>
            </nav>
        </footer>
        <div class="mt-5"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>

</html>