<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>JCP - MILK CENTER </title>
</head>

<body>
    <!-- container start  -->
    <div class="container">
        <!-- navbar start -->
        <nav class="navbar navbar-expand-lg  " id="container">
            <div class="container-fluid">
                <a class="navbar-brand " href="/" id="logo">
                    Cow Desi Milk
                    <!-- <span id="one">Cow</span> <span id="two">Desi</span> <span id="three">Milk</span> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <img class="navbar-toggler-icon" src="/images/toggle1.png" alt="image">
                    <!-- <span class="navbar-toggler-icon" id="navToggle"></span> -->
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="about" target="_blank">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="milk-product" target="_blank">Milk
                                Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="contact" target="_blank">Contact Us</a>
                        </li>


                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- navbar close  -->
    </div>
    <div class="mt-2"></div>
    <div class="container">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="/images/milk_crousal1.jpg" class="d-block w-100  crousal_img" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/milk_crousal2.jpg" class="d-block w-100 crousal_img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/milk_crousal3.jpg" class="d-block w-100 crousal_img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/crousal1.jpg" class="d-block w-100 crousal_img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/crousal2.jpg" class="d-block w-100 crousal_img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- start heading of milk details and quality of product  -->

        <div class="mt-5"></div>
        <div class="row" id="row">
            <h3 class="text-center ">COW MILK</h3>
            <div class="mt-5"></div>
            <div class="col-md-12">
                <p class="card-text">The pale liquid which is produced by the mammary glands of cow is called cow’s
                    milk. It is well known to the world. Cow produces milk when she delivers a calf. The pregnancy lasts
                    for about nine months. Milk is considered as a complete food which is loaded with necessary
                    nutrients, calcium that supports of maintenance and development of human body. It has glossy, creamy
                    and thick texture. No preservative or artificial coloring is added to cow’s milk. Unlike buffalo’s
                    milk, it is pale creamish with yellow tinge. Cow’s milk is a great source, calcium, potassium,
                    Vitamin D and proteins. It is vital for healthy teeth as well as bones. Due to the low presence of
                    fat, it could be preserved for lower time periods.</p>
            </div>
        </div>
        <div class="mt-5"></div>

        <div class="row">

            <div class="col-md-6">
                <h3 class="card-title">Introduction</h3>
                <p class="card-text"> Children and adolescents should be encouraged to consume milk products because
                    this
                    is the period of their lives in which they are building their peak bone mass and developing
                    lifelong
                    habits. This article highlights the benefits of milk and milk products, as well as common
                    misconceptions.</p>
            </div>
            <div class="col-md-6">
                <img src="/images/child3.jpg" class="card-img mb-5 card_img_4" alt="">
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <h3 class="card-title">Health benefits of milk</h3>
                <p class="card-text p_card">
                <ul>
                    <li> Milk is an excellent source of vitamins and minerals, including
                        “nutrients of</li>
                    concern,” which are under-consumed by many populations (3Trusted Source).

                    <li> It provides potassium, B12, calcium and vitamin D, which are lacking in many diets (4Trusted
                        Source).</li>

                    <li> Milk is also a good source of vitamin A, magnesium, zinc and thiamine (B1).</li>

                    <li> Additionally, it’s an excellent source of protein and contains hundreds of different fatty
                        acids,
                        including conjugated linoleic acid (CLA) and omega-3s (5Trusted Source). </li>

                    <li> Conjugated linoleic acid and omega-3 fatty acids are linked to many health benefits, including
                        a
                        reduced risk of diabetes and heart disease (6Trusted Source, 7Trusted Source, 8Trusted Source,
                        9Trusted Source).</li>

                    <li> The nutritional content of milk varies, depending on factors like its fat content and the diet
                        and
                        treatment of the cow it came from (10Trusted Source).</li>

                    <li> For example, milk from cows that eat mostly grass contains significantly higher amounts of
                        conjugated linoleic acid and omega-3 fatty acids (11Trusted Source).</li>
                </ul>
                </p>
            </div>
            <div class="col-md-6">
                <img src="/images/glass1.jpg" class="card-img mb-5 image_glass card_img_4" alt="image">

            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <img src="/images/benifit1.jpg" class="card-img mb-5" alt="image">
            </div>
            <div class="col-md-6">
                <h3 class="card-title">Milk and bone health</h3>
                <p class="card-text p_card">Calcium is an essential nutrient for strong bones and teeth, muscle
                    movement, and
                    nerve signals. Health authorities recommend getting enough calcium to help prevent bone fractures
                    and osteoporosis.

                    Milk offers a rich source of calcium. Manufacturers fortify cow’s milk with vitamin D, another
                    nutrient that benefits bone health.

                    While calcium is important, not all studies agree that milk is good for preventing osteoporosis or
                    fractures, as a 2019 review discusses. Due to this discrepancy, scientists still need to do more
                    research.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3 class="card-title">Milk and heart health</h3>
                <p class="card-text p_card">Milk is a source of potassium, which can help the blood vessels dilate and
                    reduce
                    blood pressure. <br>

                    Getting more potassium while also reducing sodium (salt) intake can lower blood pressure, reducing
                    the risk of heart disease and stroke.
                    <br>
                    Many people in the U.S. do not get their recommended daily requirementTrusted Source for potassium
                    of 3,400 milligrams (mg) in males and 2,600 mg for females.
                </p>
                <br>
            </div>
            <div class="col-md-6">
                <h3 class="card-title">Milk and cancer</h3>
                <p class="card-text p_card">Milk contains calcium and vitamin D, two nutrients that may help protect
                    against
                    cancer.
                    <br class="mt-2">
                    Calcium may protectTrusted Source the gut lining to reduce the riskTrusted Source of colon cancer or
                    rectum cancer. However, research has linked too much calciumTrusted Source with prostate cancer.
                    <br class="mt-2">

                    Vitamin D might play a role in cell growth regulation. It may helpTrusted Source protect against
                    colon cancer, and possibly prostate and breast cancer. However, research has also linked high
                    vitamin D levels to an increased risk of pancreatic cancer.
                    <br class="mt-2">

                    Many factors affect cancer risk. Likewise, cancer can take a long time to develop, so it is
                    difficult to study its causes and risk factors.
                    <br class="mt-2">

                    Scientists still need more long-term research to establish the facts with any certainty.
                </p>
            </div>
        </div>


        <div class="card mb-3 mt-5">

            <h2 class="text-center">Conclusion</h2>

            <div class="row mt-5">
                <div class="col-md-3">
                    <img src="/images/glass2.jpg" class="card-img mb-5 card_img_4" alt="image">

                </div>
                <div class="col-md-3">
                    <img src="/images/milk1.jpg" class="card-img mb-5 card_img_4" alt="image">

                </div>
                <div class="col-md-3">
                    <img src="/images/glass4.jpg" class="card-img mb-5 card_img_4" alt="image">

                </div>
                <div class="col-md-3">
                    <img src="/images/glass5.jpg" class="card-img mb-5 card_img_4" alt="image">

                </div>
            </div>
            <div class="card-body">

                <p class="card-text">Milk production determines how profitable your herd will be. It’s thus important
                    that you understand what hinders production and have a few tips to help you improve your production.
                    The tips provided here will set the guideline on how to improve udder milk production and general
                    herd health.
                    <br><br>
                    The cows may not double their production immediately but you will definitely see some changes over
                    time. Be consistent in your strategies and things will definitely look up.
                </p>
            </div>
        </div>
        <div class="mt-5"></div>
        <footer>
            <nav class="navbar bg-info">
                <p class="text-center"><small>&commat; Copyright 2022 iCoder Web Solution</small> Cow Desi Milk</p>
            </nav>
        </footer>
        <!-- <div class="mt-5"></div> -->
    </div>


    <div class="mt-5"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>