<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <title>Milk- Product in Desi Cow Milk</title>
</head>

<body>
    <div class="container">
        <!-- navbar start -->
        <nav class="navbar navbar-expand-lg  " id="container">
            <div class="container-fluid">
                <a class="navbar-brand " href="/" id="logo">
                    Cow Desi Milk
                    <!-- <span id="one">Cow</span> <span id="two">Desi</span> <span id="three">Milk</span> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <img class="navbar-toggler-icon" src="/images/toggle1.png" alt="image">
                    <!-- <span class="navbar-toggler-icon" id="navToggle"></span> -->
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="milk-product">Milk Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="about" target="_blank">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="contact" target="_blank">Contact Us</a>
                        </li>


                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- navbar close  -->
        <div class="mt-5"></div>

        <h1 class="text-center text-primary">Milk Products</h1>
        <div class="mt-5"></div>

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/images/product6.jpg" class="d-block w-100  about_crousal_img" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/product1.jpg" class="d-block w-100 about_crousal_img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/product2.jpg" class="d-block w-100 about_crousal_img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/product3.jpg" class="d-block w-100 about_crousal_img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/product4.jpg" class="d-block w-100 about_crousal_img" alt="...">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="mt-5"></div>
        <!-- product list  -->

        <div class="card-group">
            <div class="card">
                <img src="/images/milk_product.jpg" class="card-img-top" alt="milk image">
                <div class="card-body">
                    <p class="card-text mb-2">Fresh Milk</p>
                    <button class="btn btn-outline-primary">₹ 59L </button>
                    <input type="submit" name="submit" value="BUY NOW" id="submit" class="btn btn-info">

                </div>
            </div>
            <div class="card">
                <img src="/images/dahi_curd.jpg" class="card-img-top" alt="milk image">
                <div class="card-body">
                    <p class="card-text mb-2">Fresh Crud (Dahi)</p>
                    <button class="btn btn-outline-primary">₹ 60KG </button>
                    <input type="submit" name="submit" value="BUY NOW" id="submit" class="btn btn-info">

                </div>
            </div>
            <div class="card">
                <img src="/images/paneer.jpg" class="card-img-top" alt="milk image">
                <div class="card-body">
                    <p class="card-text mb-2">Fresh Paneer</p>
                    <button class="btn btn-outline-primary">₹ 320KG </button>
                    <input type="submit" name="submit" value="BUY NOW" id="submit" class="btn btn-info">

                </div>
            </div>

        </div>

        <div class="card-group">
            <div class="card">
                <img src="/images/milk_shake.jpg" class="card-img-top" alt="milk image">
                <div class="card-body">
                    <p class="card-text mb-2">Stoberry Flavour Milk Shake</p>
                    <button class="btn btn-outline-primary">₹ 70 </button>
                    <input type="submit" name="submit" value="BUY NOW" id="submit" class="btn btn-info">

                </div>
            </div>
            <div class="card">
                <img src="/images/shreekhand.jpg" class="card-img-top" alt="milk image">
                <div class="card-body">
                    <p class="card-text mb-2">Kesar Pista Shreekhand</p>
                    <button class="btn btn-outline-primary">₹ 100 </button>
                    <input type="submit" name="submit" value="BUY NOW" id="submit" class="btn btn-info">

                </div>
            </div>
            <div class="card">
                <img src="/images/mithai.jpg" class="card-img-top" alt="milk image">
                <div class="card-body">
                    <p class="card-text mb-2">Celebration Pack Of Mithai</p>
                    <button class="btn btn-outline-primary">₹ 590KG </button>
                    <input type="submit" name="submit" value="BUY NOW" id="submit" class="btn btn-info">

                </div>
            </div>

        </div>
        <!-- /////////// -->
        <div class="card-group">
            <div class="card">
                <img src="/images/vanilla_icecreame.jpg" class="card-img-top" alt="milk image">
                <div class="card-body">
                    <p class="card-text mb-2">Vanilla Icecreame</p>
                    <button class="btn btn-outline-primary">₹ 80 </button>
                    <input type="submit" name="submit" value="BUY NOW" id="submit" class="btn btn-info">

                </div>
            </div>
            <div class="card">
                <img src="/images/straberry_icecream.jpg" class="card-img-top" alt="milk image">
                <div class="card-body">
                    <p class="card-text mb-2">Straberry Icecreame</p>
                    <button class="btn btn-outline-primary">₹ 100 </button>
                    <input type="submit" name="submit" value="BUY NOW" id="submit" class="btn btn-info">

                </div>
            </div>
            <div class="card">
                <img src="/images/Caramel_icecream.jpg" class="card-img-top" alt="milk image">
                <div class="card-body">
                    <p class="card-text mb-2">Caramel Icecreame </p>
                    <button class="btn btn-outline-primary">₹ 59 </button>
                    <input type="submit" name="submit" value="BUY NOW" id="submit" class="btn btn-info">

                </div>
            </div>

        </div>

        <div class="mt-5"></div>

        <footer id="content">
            <div class="text-center">

            </div>
        </footer>



        <div class="mt-5"></div>


    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>